# it's the vibes man
---
Language: Cpp
BasedOnStyle: microsoft
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true
PointerAlignment: Left
QualifierAlignment: Left
